.patnerCardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    height: 90%;
    border-radius: 20px;
    background-color: #7238816e;

}

.patnerCardInnerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.patnerImgContainer{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.patnerImgContainer > img{
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

.patnerDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media (max-width:750px) {
    .patnerCardContainer{
        width: 100%;
        height: fit-content;
        border-radius: 20px;
        background-color: #7238816e;
        margin-bottom: 4px;
    }
    .patnerCardInnerContainer{
        height: inherit;
        width: 90%;

    }

    .patnerDetails{
        justify-content: center;
    }
    
    .patnerDetails > h3{
        font-size: 14px;
    }
    .patnerDetails > h4{
        font-size: 12px;

    }
    .patnerImgContainer{
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

}

