.verificationContainer{
    height: 70%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.verificationForm{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.verificationFormInputs{
    background-color: rgb(168, 122, 36);
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

.verificationFormInputs > input{
    width: 77%;
    height: 35px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid red;
    color: black;
    font-size: 18px;
}

.submitBtn{
    align-self: center;
    width: 40%;
    height: 20%;
    background-color: green;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    min-width: fit-content;
}

@media (max-width: 750px) {
    .verificationContainer{
        height: 70%;
        width: 100%;
    }
    .verificationForm{
        width: 90%;
        height: 60%;
    }
    .verificationForm{
        font-size: 24px;
        font-weight: 700;
    }
    .verificationFormInputs{
        background-color: aqua;
        width: 90%;
        height: 90%;
    }
    .submitBtn{
        width: 50%;
        height: 20%;
        font-size: 16px;
        min-width: fit-content;
    }
}